.ProductPage{
  
   
  
}
.ant-modal-body{
  background: linear-gradient(147deg, #FFFFFF 69%, #C8A065 100%); 
  background: -moz-linear-gradient(147deg, #FFFFFF 69%, #C8A065 100%); 
  background: -webkit-linear-gradient(147deg, #FFFFFF 69%, #C8A065 100%); 
  background: -o-linear-gradient(147deg, #FFFFFF 69%, #C8A065 100%); 
}
.ProductPage .product_div{
  margin: 5% auto;
  width: 70%;
  height: auto;
}
.slick-slider div{
  margin: 0 auto;
  
}
