.Header{
    background:white;
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-right: 0%;
}

.Header .Avater{
    position: absolute;
    right: 2cm;
}
.ant-menu{
    width: 100%;
}
.Footer{
    background: white;
    padding: 4px 8px;
    min-width: 10vh;
}
.Sider{
    background: #ccedfc;
}
.MainPage .Dropdown{
    margin-left: 1cm;
}
.User{
    align-self: right;
}
.MainPage .Content{
    margin-right: 0%;
    margin-left: 0%;
}
.CSILOGO{
   
}

.SiderItem{
    margin-top: 1.5cm;
}
.MainPage .logo{
    width: 10%;
    min-width: 2cm;
}
.logo img{
    margin:0% auto;
    width: 100%;
    
    height: auto;
}
.ant-menu-horizontal{
    
    border-bottom:0px;
    line-height:62px;
    background-color: #ffffff;
background-image: linear-gradient(28deg, #ffffff 38%, #c8a065 100%);


}
